body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #dcdcc8;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 40px auto;
}
h1 {
    font-size: 36px;
}
.intro {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.intro img {
    width: 200px;
}
.highlight {
    color: red;
    font-weight: bold;
}
h2 {
    margin-top: 30px;
}
hr {
    margin: 20px 0;
}
.footer-link {
    color: red;
}