body{
    font-family:'Times New Roman', Times, serif;
    background-color: #faf5e3;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
.logo img {
    width: 120px;
}
h1{
    font-size: 36px;
    margin: 10px 0;
    letter-spacing: 2px;
}
hr{
    border: none;
    height: 2px;
    background-color: #8ecae6;
    width: 100%;
    margin: 20px auto;
}
.content {
    text-align: left;
    margin-top: 30px;
}
h2{
    color: #c94c4c;
    font-size: 18px;
}
p{
    line-height: 1.6;
}
.italic {
    font-style: italic;
}
.hours {
    font-style: italic;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}