body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
    text-align: center;
}

.page-title {
    margin-top: 40px;
    color: #333;
}

.card {
    background-color: #4e73b8;
    width: 450px;
    margin: 30px auto;
    padding: 40px 0;
    color: white;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card ul {
    list-style-type: disc;
    text-align: left;
    width: 200px;
    margin: 0 auto;
    padding-left: 20px;
}

.card li {
    margin: 10px 0;
    font-size: 18px;
}